# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
backend.hcl
!backend.hcl.example
crash.log
crash.*.log

# Kubernetes
kubeconfig

# Docker
*.tar

# Build
out/
build/
