# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Kubernetes
kubeconfig

# Docker
*.tar

# Build
out/
build/
